/* Sets design of navbar */
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #191919;
    color: #FFFFFF;
	font-family: Gotham;
}

/* Sets font color of left hand navbar text on hover */
.navbar a:hover{
	color: #ffffff !important;
}

/*Sets default font color of left hand navbar text */
.navbar-brand{
	 color: #DFE2DB !important;
}

/*Sets default font color of right hand navbar text */ 
.navbar-nav li a:visited {
    color: #DFE2DB !important;
}

/*Sets font color of right hand navbar text on hover */
.navbar-nav li a:hover {
    color: #ffffff !important;
	font-family: Gotham;
}

/*Sets design of heading text and picture text */
 .bg-3 { 
      background-color: #ffffff; /* White */
      color: #191919;
	  font-family: Gotham;
	  font-size: 30px;
  }
  
/*Sets font size of heading text */
  h3{
	  font-size: 50px;
	  padding-bottom: 15px;
  }

/*Set design of image for homepage */
  .img-responsive{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
	height: 400px;
  }

/*Set design of image for recipes */
  .img-recipe{
	display: block;
    margin-left: auto;
    margin-right: auto;

  }



a.results:link, a.results:visited, a.results:hover,  a.results:active{
 color: #191919;
 font-family: Gotham;
 font-size: 30px;
}

a.moreResults:link, a.moreResults:visited, a.moreResults:hover,  a.moreResults:active{
 color: #191919;
 font-family: Gotham;
 font-size: 20px;
 padding-left: 10px;
}

.glyphicon.glyphicon-menu-right
{
 padding-left: 70px;
}


.no-gutter > [class*='col-'] {
    padding-right:0 !important;
    padding-left:0 !important;
}

